.input {
  border: 0;
  padding: 10px;
  margin: 10px 0px;
  width: 70%;
  border-bottom: 1px solid rgb(153, 152, 152);
  position: relative;
  transition: 0.2s ease-in-out;
}
.input:focus {
  outline: none;
  background-color: rgb(240, 242, 255);
}
.label_text {
  margin: 0;
  padding: 10px 0px 0px 0px;
}
